.gameover {
  &.display-block {
    z-index: 2;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  &.display-none {
    display: none;
  }
}
