.value {
  user-select: none;
  animation: 0.2s linear fadeIn;
  background-color: rgba(0, 190, 218, 0.75);

  &.none {
    background-color: white;
  }

  &.one {
    background-color: #95d69e;
  }

  &.two {
    background-color: #2aae7e;
  }

  &.three {
    background-color: #ffd02d;
  }

  &.four {
    background-color: #db3d63;
  }

  &.five {
    background-color: #c9003d;
  }
}

@keyframes fadeIn {
  0% {
    background-color: rgba(0, 190, 218, 0.75);
  }
}
