.minesweeper {
  height: 100%;
  display: grid;
  flex-flow: column;
  grid-template-rows: 25% 50% 25%;

  .header {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-flow: column;

    button {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  table {
    td {
      width: 25px;
      min-width: 25px;
      max-width: 25px;
      height: 25px;
      min-height: 25px;
      max-height: 25px;
      border: 1px solid rgb(175, 216, 248);
    }
  }
}
